<html>
  <head>
  <title>Secure Calculator</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <center>
      <div class="title">Secure Calculator</div><br>
      <%= yield %>
    </center>
  </body>
</html>