
<html>
  <head>
    <title>Secure Calculator</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <center>
      <div class="title">Secure Calculator</div><br>
      <hr>
      <%= yield %>
    </center>
  </body>
  <footer align="middle"
    <div class="footer_text">Created by: Nicci</div>
  </footer>    
</html>