header {
		    width: min-content;
    height: 75%;
    height: fit-content;
    text-shadow: 2px 1px 4px #e3ebf1;
    font-size: 69px;
    letter-spacing: 4px;
    margin: auto;
    color: #bf2d91f7;
    font-weight: bold;
}

footer {
		font-family: "Tahoma", Geneva, sans-serif;
    font-size: 18px;
    color: #fefefed9;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
}

body {
		background-image: url(/img/triangles.jpg);
		background-size: cover;
    font-family: "Tahoma", Geneva, sans-serif;
}

.operation_buttons {
	color: #d40b6fbf;
	font-size: 24px;
}

#add {
	    border: 0;
    height: 18px;
    width: 100%;
}

#subtract {
    	border: 0;
    height: 18px;
    width: 100%;
}

#multiply {
	    border: 0;
    height: 18px;
    width: 100%;
}

#divide {
	    border: 0;
    height: 18px;
    width: 100%;
}

.result_box {    
		font-size: 55px;
    background-color: #fffffff2;
    text-shadow: 1px 1px 2px #12558a;
    padding-left: 15px;
    padding-right: 15px;
    color: #d40b6fbf;
}

.main_card {
	    background: #fffffff2;
    margin-top: 20px;
    width: 40%;
    padding: 20px;
}

.button {
		    text-align: center;
    height: 30px;
    margin: 14px;
    width: max-content;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: 18px;
}

input {
	    height: 40px;
    width: 255px;
    margin: auto;
}

.invalid {
	color: #d40b6fbf;
	font-size: 30px
}

