header {
		background-color: white;
    color: #005d9a;
    height: 75px;
    text-shadow: 4px 1px 5px #000000bd;
    font-size: 55px;
    letter-spacing: 4px;
    margin: auto;
}

footer {
		font-family: "Tahoma", Geneva, sans-serif;
    font-size: 18px;
    color: #fefefed9;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
}

body {
		background-image: url(/img/golden-ratio-math.gif);
    font-family: "Tahoma", Geneva, sans-serif;
}

.operation_buttons {
	color: #005d9a;
	font-size: 24px;
}

#add {
	    border: 0;
    height: 18px;
    width: 100%;
}

#subtract {
    	border: 0;
    height: 18px;
    width: 100%;
}

#multiply {
	    border: 0;
    height: 18px;
    width: 100%;
}

#divide {
	    border: 0;
    height: 18px;
    width: 100%;
}

.result_box {    
		font-size: 55px;
    background-color: white;
    text-shadow: 1px 1px 2px #000000bd;
    padding-left: 15px;
    padding-right: 15px;
    color: #005d9a;
}

.main_card {
	    background: white;
    margin-top: 50px;
    width: 40%;
    padding: 20px;
}